body {
  background-color: black;
}

.container-fluid {
  display: flex;
}

.stockOveriewText {
  color: white;
  font-weight: bold;
}

.main-card {
  background-color: #ffd51c;
  width: 40%;
}

.minor {
  width: 10rem;
  padding: 10px;
  background-color: #ffd51c;
}

.overviewHeader {
  color: black;
  font-weight: bold;
}

.card-title {
  color: white;
}

.titleCard {
  background-color: #ffd51c;
}
